

.carousel {
    margin:0 auto;
    max-width:70%;
    border:1em double #de9b72;
    background-color:#3a3d3e;
    //height:70em;
    overflow:hidden;

    @media (max-width: 640px) {
        display:none;
      }
}

.item {
    max-width:100%;
    object-fit:contain;
    
    
  
  
 
    
    
    
    
}

.item img {
    size:inherit;

}